{{ block "main" . }}
  {{ $structure := .Params.structure }}
  {{ $template := .Params.template }}

  {{ if and (not $structure) $template }}
    {{ with site.Data.templates }}
      {{ $resolved := index . $template }}
      {{ if $resolved }}
        {{ $structure = $resolved.structure }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if $structure }}
    {{ partial "composer/render-structure.html" (dict
      "Page" .
      "Structure" $structure
    ) }}
  {{ else }}
    {{ .Render "default" }}
  {{ end }}
{{ end }}
