{{/*
  render-composite.html
  Assembles a post dynamically from structured components.
  Assumes PaperMod provides <main> and <article> elsewhere.
*/}}

{{ $structure := .Params.structure }}

{{/* Defensive conversion of anchors to string-keyed map */}}
{{ $anchors := dict }}
{{ with .Params.anchors }}
  {{ range $k, $v := . }}
    {{ $key := printf "%s" $k }}
    {{ $anchors = merge $anchors (dict $key $v) }}
  {{ end }}
{{ end }}

{{/* Debug info (safe to remove) */}}
<pre>🔍 anchors param: {{ $anchors | jsonify }}</pre>
<pre>📦 anchors type: {{ printf "%T" $anchors }}</pre>

{{/* Render content blocks in order */}}
{{ range $structure }}
  {{ partial "composer/render-block.html" (dict
    "ref" .ref
    "anchors" $anchors
  ) }}
{{ end }}

{{/* Optional fallback content */}}
{{ .Content }}
